Задание 1

Импортируйте библиотеки pandas и numpy.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.
Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.
Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [1]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_boston

In [2]:
boston = load_boston()
data = boston["data"]
target = boston["target"]
feature_names = boston["feature_names"]
X = pd.DataFrame(data, columns=feature_names)
y = pd.DataFrame(target, columns=["price"])

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [4]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [5]:
lr.fit(X_train, y_train)

LinearRegression()

In [6]:
y_pred = lr.predict(X_test)
y_pred.shape

(152, 1)

In [7]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})
check_test.head(10)

     y_test     y_pred
502    20.6  22.810018
115    18.3  20.956775
261    43.1  36.718684
106    19.5  17.799977
247    20.5  19.774009
253    42.8  28.539440
319    21.0  21.640036
117    19.2  24.179187
302    26.4  28.171272
149    15.4  15.454090

In [8]:
check_test["error"] = check_test["y_pred"] - check_test["y_test"]
check_test.head()

     y_test     y_pred     error
502    20.6  22.810018  2.210018
115    18.3  20.956775  2.656775
261    43.1  36.718684 -6.381316
106    19.5  17.799977 -1.700023
247    20.5  19.774009 -0.725991

In [9]:
from sklearn.metrics import r2_score
r2_score_1 = r2_score(check_test["y_pred"], check_test["y_test"])
r2_score_1

0.4802422245189706

Задание 2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.
Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.
Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [10]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [11]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [13]:
y_pred = model.predict(X_test)
y_pred.shape

(152,)

In [14]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})
check_test.head(10)

     y_test     y_pred
502    20.6  21.274688
115    18.3  18.868119
261    43.1  37.814310
106    19.5  17.795206
247    20.5  20.733532
253    42.8  40.181200
319    21.0  21.213861
117    19.2  20.189896
302    26.4  23.193749
149    15.4  15.315578

In [16]:
r2_score_2=r2_score(check_test["y_pred"], check_test["y_test"])
r2_score_2

0.7142403240732034

In [17]:
r2_score_1<r2_score_2

True

В данном случае модель RandomForestRegressor работает лучше